html, body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

h1 {
    margin: 10px;
}

section{
    padding:10px;
}
.widget {
    margin-top: 10px;
    background-color: darkgrey;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: 0.3s ease;
    padding: 0 25px;
    border-radius: 10px;
    transition: 0.5s;
    box-sizing: border-box;
}

.content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.content.active {
    display: block;
    opacity: 1;
}
